$padding-horizontal: 1rem;

#sidebar {
  flex-grow: 1;
  max-width: 15rem;
  background-color: $primary;
  overflow: auto;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-horizontal;
    margin: 1rem 0 0.75rem;

    h2 {
      margin: 0 1rem 0 0;
      font-size: 1rem;
    }
  }

  ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    li {
      padding: 0.25rem $padding-horizontal;
      cursor: pointer;
    }
  }
}
