@import 'helpers/colors';

@import 'components/add-item';
@import 'components/project';
@import 'components/task-list-header';
@import 'components/task-list';

@import 'layout/sidebar';

* {
  box-sizing: border-box;
}

html {
  font: {
    family: 'Open Sans', sans-serif;
    size: 20px;
  }
}

body {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: 0;
}